[submodule "dependencies/WebViewJavascriptBridge"]
	path = dependencies/WebViewJavascriptBridge
	url = git@github.com:marcuswestin/WebViewJavascriptBridge.git
[submodule "dependencies/node-uuid"]
	path = dependencies/node-uuid
	url = https://github.com/broofa/node-uuid.git
[submodule "dependencies/Light-Untar-for-iOS"]
	path = dependencies/Light-Untar-for-iOS
	url = https://github.com/mhausherr/Light-Untar-for-iOS.git
[submodule "dependencies/MKNetworkKit"]
	path = dependencies/MKNetworkKit
	url = git://github.com/MugunthKumar/MKNetworkKit.git
[submodule "dependencies/WebViewProxy"]
	path = dependencies/WebViewProxy
	url = git@github.com:marcuswestin/WebViewProxy.git
[submodule "dependencies/UIImage-Categories"]
	path = dependencies/UIImage-Categories
	url = git://github.com/mbcharbonneau/UIImage-Categories.git
